
 
<form action="/submit" method="POST" class="form-signin full-width text-center">
 


  <label for="empname" class="sr-only">Employee name</label>
  <input type="text" name="empname" class="form-control " placeholder="Employee name" required autofocus>

  <label for="empnbr" class="sr-only">Employee Number</label>
  <input type="text" name="empnbr" class="form-control" placeholder="Employee Number" required>

   <h1 id="sysdate" onload="startTime()" class="h6 mb-2 font-weight-normal"> </h1>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>