<!--written by Ketan-->

<div class="full-width text-center">
  <h1 class="display-6">Thank You, {{empname}}!</h1>
  <p class="lead"><strong>Your attendance is recorded in the system.</strong></p>
  <hr>
  <p>
      Having trouble? <a href="mailto:username@example.com?subject=Attendacenotworking&body=message%20goes%20here">Contact us</a>
  </p>
  <p class="lead">
</div>

<!--
     <a class="btn btn-primary btn-sm" onclick="closeCurrentWindow()" role="button">Close the window.</a>
  </p>
    -->